* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
}

 h1, span {
    font-family: "PT Serif", serif;
}

.who-we-are-section {
    margin-top: 110px;
    display: flex;
    margin-bottom: 96px;
    gap: 215px;
    
}

h1 {
    margin-left: 243px;
    font-size: 36px;
}

.who-we-are h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.who-we-are p {
    width: 439px;
    font-size: 18px;
}

img {
    width: 238px;
    margin-right: 67px;
}

.profil-img-team {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 240px;
    width: 926px;
}

.profil-img-second {
    margin-top: 67px;
}

.profil-img-fith {
    margin-top: 168px;
}

.profil-img-fourth, .profil-imgs-sixth {
    margin-top: 132px;
}

.profil-img-team div  {
    position: relative;
}

 .profil-img-first span {
    position: absolute;
    display: inline-block; 
    transform: rotate(90deg);
    top: 45px;
    left: 210px;
    font-size: 12px;
    font-weight: 400;
    white-space: nowrap;
}

.profil-img-second span {
    position: absolute;
    display: inline-block; 
    transform: rotate(90deg);
    top: 35px;
    left: 220px;
    font-size: 12px;
    font-weight: 400;
}

.profil-img-fourth span {
    position: absolute;
    display: inline-block; 
    transform: rotate(90deg);
    top: 35px;
    left: 220px;
    font-size: 12px;
    font-weight: 400;
}



.profil-img-third span, .profil-img-fith span, .profil-imgs-sixth span {
    position: absolute;
    display: inline-block; 
    transform: rotate(90deg);
    top: 25px;
    left: 225px;
    font-size: 12px;
    font-weight: 400;
}








